{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        <small data-validation-for="{{ id }}" class="error{% if errors|length <= 0 %} hide{% endif %}">
            {% for error in errors %}
                {{ error.message|trans({}, translation_domain)|trim }} {% if not loop.last %}<br/>{% endif %}
            {% endfor %}
        </small>
    {% endspaceless %}
{% endblock form_errors %}